*
  font-family: 'Manjari', sans-serif

p, span, div
  font-weight: 100

h1, h2, h3, h4, h5, h6
  font-weight: 700

.text-white
  color: $white !important

.text-black
  color: $black !important

.margin-menu
  margin-top: 52px

.is-transparent
  background: transparent

// ScrollBar
html::-webkit-scrollbar
  width: 15px
 
html::-webkit-scrollbar-thumb 
  background: $scrollbar-bar
  border-radius: 10px

html::-webkit-scrollbar-track
  background: $scrollbar-background
  border-radius: 20px

html
  scrollbar-color: $scrollbar-bar !important
  scrollbar-width: 10px !important

// Loader Lazy Load
.circle-loader-1
  width: 100px
  max-width: 100px
  height: 100px
  max-height: 100px
  display: flex
  align-items: center
  justify-content: center
  margin: auto
  border-radius: 50%
  border-top: 10px solid rgba(74, 74, 74, 0.2)
  border-right: 10px solid rgba(74, 74, 74, 0.3)
  border-bottom: 10px solid rgba(74, 74, 74, 0.4)
  border-left: 10px solid rgba(255, 255, 255, 1)
  -webkit-transform: translateZ(0)
  -ms-transform: translateZ(0)
  transform: translateZ(0)
  -webkit-animation: circle-loader-spin 1s infinite linear
  animation: circle-loader-spin 1s infinite linear

  @keyframes circle-loader-spin
    0%
      -webkit-transform: rotate(0deg)
      transform: rotate(0deg)

    100%
      -webkit-transform: rotate(360deg)
      transform: rotate(360deg)
