.dark-mode {
  --color: #ebf4f1;
  --color-primary: #fafafa;
  --color-secondary: #fdf9f3;
  --bg: #2c2c2c;
  --bg-secondary: #071521;
  --border-color: #0d2538;
  --color-hover: #4e4e4e
}
.sepia-mode {
  --color: #433422;
  --color-secondary: #504231;
  --bg: #fafafa;
  --bg-secondary: #eae0c9;
  --border-color: #ded0bf;
  --color-hover: #fafafa
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Manjari', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-seriff;
  background-color: var(--bg);
  color: var(--color);
  transition: background-color .3s;
}
a, p, h1, h2, h3, h4, h5, span, time, strong {
  color: var(--color-primary) !important
}

.card, .navbar {
  background: var(--bg)
}

footer {
  background: var(--bg) !important
}

.navbar-item:hover, .navbar-item:focus {
  background: var(--color-hover) !important
}

@media screen and (max-width: 1023px) {
  .navbar.is-transparent {
    background: var(--bg) !important
  }
  .navbar-menu {
    background: var(--bg)
  }
}
